
<h1>Avaliable Meetings</h1>
<%= link_to 'Home', root_path, class:"btn btn-warning" %>
<%= link_to 'New meeting', new_meeting_path, class:"btn btn-warning" %>
<p></p>
<input class="container col-md-4 form-control" type="text" id="search" onkeyup="search()" placeholder="Search for meeting names...">
<p></p>
<table id="searchTable" class="table container col-md-4 table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">ID</th>
      <th scope="col">Moderator Password</th>
      <th scope="col">Attendee Password</th>
      <!-- <th scope="col">Remove</th> -->
    </tr>
  </thead>
  <tbody class="table-striped">
  <% @meetings[:meetings].each do |meeting| %>
    <tr>
      <td><%= meeting[:meetingName] %></td>
      <td><%= meeting[:meetingID]  %></td>
      <td><%= meeting[:moderatorPW] %></td>
      <td><%= meeting[:attendeePW] %></td>
      <!-- <td><%= link_to 'Remove', edit_meeting_path(meeting[:meetingID]) %></td> -->
    </tr>
  <% end %>
  </tbody>
</table>
<br>
