
<h1>Avaliable Meetings</h1>
<table class="table container col-md-4 table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">ID</th>
      <th scope="col">Login Info</th>
      <th scope"col">End</th>
    </tr>
  </thead>
  <tbody class="table-striped">
  <% @meetings.each do |meeting| %>
    <tr>
      <td><%= meeting.name %></td>
      <td><%= meeting.id %></td>
      <td><%= link_to 'View', meeting_path(meeting) %></td>
      <td><%= link_to 'End', edit_meeting_path(meeting) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Home', root_path, class:"btn btn-warning" %>
<%= link_to 'New meeting', new_meeting_path, class:"btn btn-warning" %>
